<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>blog_detail</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/blog_detail.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="title" href="#">我的个人博客 | 技术博客</a>
            <ul class="menu">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./sitemap.html">地图</a></li>
                <li><a href="./about.html">关于</a></li>
                <li><a href="./guestbook.html">留言</a></li>
            </ul>
            <div class="search_bar" >
                <input type="text" placeholder="输入关键词进行查找">
                <button>搜索</button>
            </div> 
        </div>
    </header>
    <div class="content">
        <div class="content_left">
            <div class="blog" id="blog_detail">
                <div class="blog_title">{{title}}</div>
                <div class="blog_msg">作者:CR 标签:{{tags}} 发布于:{{ctime}} 浏览（{{views}}）</div>
                <div class="blog_content" v-html="content"></div>
            </div>
<!-- 评论 -->
            <div class="blog_comments" id="blog_comments">
                <span class="blog_comments_mes">当前文章：目前有{{total}}条留言</span>
                <div class="blog_comment" v-for="comment in comments">
                    <span><b>{{comment.user_name}}</b>:{{comment.options}}发表于 {{comment.ctime}} <a style="cursor: pointer" v-on:click="reply(comment.id,comment.user_name)">[回复]</a></span>
                    <div>{{comment.comments}}</div>
                </div>
            </div>
<!-- 写评论 -->
            <div class="send_comment" id="send_comment">
                <span>发表评论</span>
                <div>
                    <input type="hidden" id="comment_reply" value="-1">
                    <input type="hidden" id="comment_reply_name" value="0">
                    <input type="text" placeholder="昵称" id="comment_name">
                    <input type="text" placeholder="邮箱(评论被回复时你能收到通知)" id="comment_email">
                </div> 
                <div>
                    <textarea placeholder="无意义的内容我可能不会回复你" id="comment_content"></textarea>
                </div>
                <div>
                    <input type="text"placeholder="验证码" id = "comment_code">
                    <span v-html="vcode" v-on:click="changeCode()"></span>
                </div>
                    <button v-on:click="sendComment()">提交评论</button>
            </div>  
        </div>
        <div class="content_right">
            <div class="right_module" id="random_tags">
                <div>随机标签云</div>
                <a :href="tag.link" v-for="tag in tags" :style="{color:randomColor(),fontSize:randomSize()}">{{tag.text}}</a>
            </div>

            <div class="right_module" id="new_hot">
                <div>最近热门</div>
                <ul>
                    <li v-for="temp in titleList"><a :href="temp.link">{{temp.title}}</a></li>
                </ul>
            </div>

            <div class="right_module" id="new_comments">
                <div>最新评论</div>
                <ul>
                    <li v-for="item in commentList">
                        <div>
                            <span>{{item.name}}</span>
                            <span class="pull_right">{{item.date}}</span>
                        </div>
                        <p>{{item.comment}}</p>
                    </li>
                </ul>
            </div>

            <div class="right_module">
                <div>友情链接</div>
                <span><a href="#">链接1</a></span><span><a href="#">链接2</a></span>
                <span><a href="#">链接3</a></span><span><a href="#">链接4</a></span>
                <span><a href="#">链接5</a></span><span><a href="#">链接6</a></span>
                <span><a href="#">链接7</a></span><span><a href="#">链接8</a></span>
                <span><a href="#">链接9</a></span><span><a href="#">链接0</a></span>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li>C/C++</li>
            <li>java</li>
            <li>html</li>
            <li>css</li>
            <li>javascript</li>
            <li>vue</li>
            <li>react</li>
            <li>webpack</li>
            <li>json</li>
            <li>jsonp</li>
            <li>ajax</li>
            <li>mvvm</li>
        </ul>
        <p>Copyright@ 2010-2019 balabalabala</p>
    </footer>
    <script src="./js/blog_detail.js"></script>
    <script src="./js/base.js"></script>
</body>
</html>